{{ if .Ready}}
<span hx-trigger="keydown[keyCode==38] from:body queue:first" hx-get="/update/up/{{.G.ID}}/{{.PlayerID}}"
	hx-target=".game"></span>
<span hx-trigger="keydown[keyCode==40] from:body queue:first" hx-get="/update/down/{{.G.ID}}/{{.PlayerID}}"
	hx-target=".game"></span>
<span hx-trigger="keyup[keyCode==38] from:body queue:first" hx-get="/update/notup/{{.G.ID}}/{{.PlayerID}}"
	hx-target=".game"></span>
<span hx-trigger="keyup[keyCode==40] from:body queue:first" hx-get="/update/notdown/{{.G.ID}}/{{.PlayerID}}"
	hx-target=".game"></span>

<span hx-trigger="every 1ms" hx-get="/update/no-action/{{.G.ID}}/{{.PlayerID}}" hx-target=".game"></span>
<div class="screen">
	<div class="gameObject paddL l Paddle">
	</div>
	<div class="gameObject paddR r Paddle">
	</div>
	<div class="gameObject b Ball">
	</div>
	<div class="gameObject divider">
	</div>
	<p class="sl scoreLeft">
	</p>
	<p class="sr scoreRight">
	</p>
	<p class="pm playerMessage">
	</p>
</div>
{{ else }}
<span hx-trigger="every 1s" hx-swap="innerHTML settle:100ms" hx-get="/pong/{{.G.ID}}/{{.PlayerID}}"
	hx-target=".everything"></span>
<p>
	Waiting for another player
	{{ if .UsingFriendCode }}
	<br></br>
	Please tell your friend to enter the code
<p style="user-select:text;"> {{.G.ID}}</p>
{{ end }}
<a href="/cancel/{{.G.ID}}"><button>Cancel Matchmaking</button></a>
</p> {{ end }}
