{{ if .Ready}}
<span hx-trigger="keypress[key=='w'] from:body queue:first" hx-get="/update/up/{{.G.ID}}/{{.PlayerID}}"
	hx-target=".game"></span>
<span hx-trigger="keypress[key=='s'] from:body queue:first" hx-get="/update/down/{{.G.ID}}/{{.PlayerID}}"
	hx-target=".game"></span>
<span hx-trigger="keypress[key=='i'] from:body queue:first" hx-get="/update/up/{{.G.ID}}/{{.PlayerID}}"
	hx-target=".game"></span>
<span hx-trigger="keypress[key=='k'] from:body queue:first" hx-get="/update/down/{{.G.ID}}/{{.PlayerID}}"
	hx-target=".game"></span>
<span hx-trigger="every 1ms" hx-get="/update/no-action/{{.G.ID}}/{{.PlayerID}}" hx-target=".game"></span>
<div class="screen">
	<div class="gameObject paddL l Paddle">
	</div>
	<div class="gameObject paddR r Paddle">
	</div>
	<div class="gameObject b Ball">
	</div>
	<div class="gameObject divider">
	</div>
	<p class="sl scoreLeft">
	</p>
	<p class="sr scoreRight">
	</p>

</div>
{{ else }}
<span hx-trigger="every 100ms" hx-get="/pong/{{.G.ID}}/{{.PlayerID}}" hx-target="body"></span>
<p>
	Waiting for another player
	{{ if .UsingFriendCode }}
	<br></br>
	Please tell your friend to enter the code {{.G.ID}}
	{{ end }}
</p {{ end }}
